.main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    position:absolute;
    left: 30rem;
    top: 15rem;
    
}

.main-proj {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    position:absolute;
    left: 30rem;
    top: 15rem; 
}

#nav-riaz {
    position:absolute;
    left: 30rem;
    top: 19px;
    font-size: 1.2rem;
    color: rgb(15, 42, 66);
    font-family: 'Poppins',sans-serif;
}

#nav-home {
    position:absolute;
    left: 96rem;
    top: 19px;
    font-size: 1.2rem;
    color: rgb(15, 42, 66);
    font-family: 'Poppins',sans-serif;    
}



#nav-skills {
    position:absolute;
    left: 102rem;
    top: 19px;
    font-size: 1.2rem;
    color: rgb(15, 42, 66);
    font-family: 'Poppins',sans-serif;        
}

#nav-code {
    position:absolute;
    left: 107rem;
    top: 19px;
    font-size: 1.2rem;
    color: rgb(15, 42, 66);
    font-family: 'Poppins',sans-serif;            
}

#nav-proj {
    position:absolute;
    left: 113rem;
    top: 19px;
    font-size: 1.2rem;
    color: rgb(15, 42, 66);
    font-family: 'Poppins',sans-serif;    
}
.avatar {
    position:absolute;
    left: 60rem;
    top: 10rem;
}

.git-button {
    position:absolute;
    left: 30rem;
    top: 23rem;
}

.email {
    position:absolute;
    left: 36rem;
    top: 23rem;    
}

.discord {
    position:absolute;
    left: 42rem;
    top: 23rem;
}



h1 {
    font-weight: bold;
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.python {
    position:absolute;
    left: 30%;
    top: 30%;
}

.python-text {
    position:absolute;
    left: 35%;
    top: 30%;
    font-size: 10px;    
}

.html {
    position:absolute;
    left: 60%;
    top: 30%;
}

.html-text {
    position:absolute;
    left: 65%;
    top: 30%;
    font-size: 10px;    
}

.css {
    position:absolute;
    left: 30%;
    top: 40%;
}

.css-text {
    position:absolute;
    left: 35%;
    top: 40%;
    font-size: 10px;    
}

.js {
    position:absolute;
    left: 60%;
    top: 40%;
}

.js-text {
    position:absolute;
    left: 65%;
    top: 40%;
    font-size: 10px;    
}

.bootstrap {
    position:absolute;
    left: 29.5%;
    top: 50%;
}

.bootstrap-text {
    position:absolute;
    left: 34.5%;
    top: 50%;
    font-size: 10px;    
}

.node-js {
    position:absolute;
    left: 60%;
    top: 50%;    
}

.node-js-text {
    position:absolute;
    left: 65%;
    top: 50%;
    font-size: 10px;    
}

.main_git {
    font-size: 1rem;
    position:absolute;
    left: 30%;
    top: 40%
}

.proj-git-button {
    position:absolute;
    left: 45%;
    top: 50%    
}

@media (max-width:1616px) {
    #nav-riaz {
        position: sticky;
        left: 20rem;
    }

    #nav-home {
        left: 60rem;
    }

    #nav-skills {
        left: 65rem; 
    }

    #nav-code {
        left: 70rem;
    }

    #nav-proj {
        left: 80rem;
    }

    .main {
        left: 8rem;
    }

    .git-button {
        left: 8rem;
    }

    .email {
        left: 15rem;
    }

    .discord {
        left: 23rem;
    }

    .avatar {
        left: 50rem;
    }
}

@media (max-width:1509px) {
    
}

@media (max-width:1024px) {
    #nav-riaz {
        position: sticky;
        left: 20rem;
    }

    #nav-home {
        left: 40rem;
    }

    #nav-skills {
        left: 45rem;
    }

    #nav-code {
        left: 50rem;
    }

    #nav-proj {
        left: 55rem;
    }
    
   .main {
       left: 8rem;
   } 

   .git-button {
       left: 8rem;
   }

   .email {
       left: 14rem;
   }

   .discord {
       left: 21rem;
   }

   .avatar {
       left: 45rem;
   }

   .main_git {
       position:absolute;
       left: 20%;
       text-align: center;
   }
   
}

@media (max-width:425px) {
    #nav-riaz {
        font-size: 2.5rem;
    }
   
    #nav-home {
        font-size: 0;
    }

    #nav-skills {
        left: 30rem;
        font-size: 2.5rem;  
    }

    #nav-code {
        left: 40rem;
        font-size: 2.5rem;
    }

    #nav-proj {
        left: 50rem;
        font-size: 2.5rem;
    }   

    .main {
        top: 30rem;
    }

    .git-button {
        top: 37rem;
    }   

    .email {
        top: 37rem;
    }
    
    .discord {
        top: 37rem;
    }

    .tech_header {
        position: absolute;
        left: 90%;
        top: 55%;
        text-align: center;
    }

    .bootstrap {
        top: 60rem;
    }

    .bootstrap-text {
        top: 60rem;
    }

    .css {
        top: 53rem;
    }

    .css-text {
        position: absolute;
        top: 53rem;
        left: 15rem;
    }

    .python {
        top: 43.5rem;
    }

    .python-text {
        top: 43.5rem;
    }

    .node-js {
        top: 60rem;
    }

    .node-js-text {
        top: 60rem;
    }

    .js {
        top: 53rem;
    }

    .js-text {
    position: absolute;
    top: 53rem;
    left: 15rem;        
    }

    .html {
        top: 43.5rem;
    }

    .html-text {
        top: 43.5rem;
    }

    .main-proj {
        position: absolute;
        left: 50%;
    }
}

@media (max-width:320px) {
    .main {
        bottom: 3rem;
    } 
}


@media (max-width:786px) {
    .html-text {
        position: absolute;
        left: 40rem;
    }

    .html {
        left: 35rem;
    }

    .python {
        left: 10rem;
    }

    .python-text {
        left: 15rem;
    }

    .css {
        left: 10rem;
    }

    .js-text {
        position:absolute;
        left: 40rem;
    }

    .js {
        left: 35rem;
    }

    .bootstrap {
        left: 10rem;
    }

    .bootstrap-text {
        left: 15rem;
    }

    .node-js {
        left: 35rem;
    }

    .node-js-text {
        position: absolute;
        left: 40rem;
    }
}

@media (max-width:768px) {
    .proj-git-button {
        top: 53%;
        left: 50%
    }

    .main-proj {
        left: 53%
    }
}
